@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&display=swap');
// Define fonts for body and headers

//COLORS

$pistache:  #A1CF6B;  //Pistache
$lavender:  #D3B8CA;  //Lavender
$yellow:    #FFEF96;  //Pastel Yellow
$blue:      #AFC2D5;  //Pastel Blue
$pink:      #E57A72;  //Tango Pink
$black:     #0E0000;
$gray:      #F4F4F4;
