@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900|Work+Sans:300,400,700&display=swap');
// Define fonts for body and headers

body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

//COLORS

$pistache:  #A1CF6B;  //Pistache
$lavender:  #D3B8CA;  //Lavender
$yellow:    #FFEF96;  //Pastel Yellow
$blue:      #AFC2D5;  //Pastel Blue
$pink:      #E57A72;  //Tango Pink
$black:     #0E0000;
$gray:      #F4F4F4;
