.container {
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-column-gap: 15px;
}

.img-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 200px 200px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.img-a {
  background-image: asset-url("img-a.jpg");
  background-size: cover;
}

.img-b {
  background-image: asset-url("img-b.jpg");
  background-size: cover;
}

.img-c {
  background-image: asset-url("img-c.jpg");
  background-size: cover;
}

.img-d {
  background-image: asset-url("img-d.gif");
  background-size: cover;
}

.img-e {
  background-image: asset-url("img-e.jpg");
  background-size: cover;
}

.img-f {
  background-image: asset-url("img-f.jpg");
  background-size: cover;
}

.content p {
  margin-bottom: 25px;
  font-family:'Merriweather', serif;
  font-size: 14px;
}

.content h1 {
  margin-bottom: 25px;
  font-family:'Montserrat', sans-serif;
  font-size: 18px;
}
