.banner {
  background: asset-url("rodion.jpg");
  background-size: cover;
  height: 75vh;
}

.banner-container {
  width: 75vw;
  padding: 100px;
}

.banner-container h1 {
  font-size: 2.5em;
  color: #F4F4F4;
  padding-left: 150px;
}

.banner-container a {
  margin-left: 150px;
}

#name {
  color: #E57A72;
}

.chevron-down {
  margin-top: 75px;
}

.chevron-down .fa-chevron-down {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgba(244, 244, 244, 0.7);
  font-size: 55px;
}


 .fa-chevron-down:hover {
  color: #F4F4F4;
}

.container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.skills {
  display: grid;
  grid-template-columns: 250px 115px 115px 115px;
  grid-column-gap: 50px;
  justify-items: center;
  margin-top: 25px;


}


