.img-helpal-mockup img {
  height: 15em;
}

.img-home-mockup img {
  height: 15em;
  margin-left: 50px;
}

.figma-link {
  text-decoration: none;
  color: #6DC6A4;
  font-weight: 700;
}

.figma-link:hover {
  color: #d6d6d6;
}

@media (max-width: 720px) {

  .img-helpal-mockup img {
    width: 75vw;
    height: auto;
  }

  .img-home-mockup img {
    height: 75vw;
    width: auto;
    margin-left: 0px;
  }

  #border {
    border-bottom: 1px solid #C5C7C6
  }

}
