<div class="container">
  <h1>About me</h1>

  <div class="about-grid">
    <div class="bcg-lavender">
      <h2> Coding = art </h2>
      <p>I have always been very passionate about art.</p>
      <p>Art allows us to share our experiences. It allows us to express ourselves</p>
      <p>This is exactly what coding means to me. And what it can mean to so many people around us.</p>
      <p>Like great art, <strong> great code captivates you </strong> and lets you discover and learn more each time you interact with it.</p>
    </div>


    <div class="bcg-blue">
      <h2> Want me to share my passion and skills with you? </h2>
      <p>Please do not hestitate to contact me!</p>
    </div>

    <div class="bcg-yellow">
      <i class="far fa-lightbulb"></i>
      <i class="fas fa-forward"></i>
      <i class="fas fa-magic"></i>
    </div>

    <div class="image-blue">
      <%= image_tag "bluecircle.png", width: "245"%>
    </div>

  </div>

</div>
