<div class="container">
  <h1>About me</h1>

  <div class="about-grid">
    <div class="bcg-lavender">
      <h2> Coding = art </h2>
      <p>I have always been very passionate about art.
      Art allows us to share our experiences. It allows us to express ourselves
      This is exactly what coding means to me. And what it can mean to so many people around us.
      Like great art, <strong> great code captivates you </strong> and lets you discover and learn more each time you interact with it.</p>
    </div>
    <div class="bcg-orange">
      <h2> Contact me! </h2>
      <p>Want me to share my passion for web development with you? Please do not hestitate to contact me!</p>
    </div>
     <div class="circle-blue">
      <i class="far fa-envelope"></i>
    </div>
    <div class="bcg-yellow">
      <ul>
        <div class="about-icons">
          <li><i class="far fa-lightbulb"></i></li>
          <p class= "lightbulb">Transforming big ideas into smart design.</p>
        </div>
        <div class="about-icons">
          <li><i class="fas fa-rocket"></i></li>
          <p>Turn static webpages into dynamic and engaging pages.</p>
        </div>
        <div class="about-icons">
          <li><i class="fas fa-magic"></i></li>
          <p>Visualize your brand and make it stronger with great UX/UI design.</p>
        </div>
      </ul>
    </div>
  </div>
</div>
