<div class="container">
  <div class="img-grid">
    <div class="img-a"></div>
    <div class="img-b"></div>
    <div class="img-c"></div>
    <div class="img-d"></div>
    <div class="img-e"></div>
    <div class="img-f"></div>
  </div>
  <div class="content">
    <h1>About me</h1>
    <p>Hi, I am <b>Mariken</b>, passionate about nature, documentary films, food and solving puzzles from sudoku’s to complex strategic problems.</p>
    <p>I have 4+ years experience in designing digital products and helping companies expand their markets and creating deep connections with their customers. Working in business development and product strategy drives me to always be aware of customer pain points and developing strategies to help meet customer needs.</p>
    <p>I am also an advocate for raising awareness around mental support for people with an autoimmune disease and currently working on a documentary film about young women and sexuality.</p>
  </div>
</div>
