<div class="contact-container">
  <h1>Like what you see? Let’s work together! </h1>
  <h2>I can help you with the following topics:</h2>
  <div class="contact-content">
    <ul>
      <li>Market research</li>
      <li>Market entry strategy</li>
      <li>Creative concepts</li>
      <li>Project management</li>
      <li>Website design</li>
      <li>User interface and experience design</li>
      <li>User research</li>
      <li>eCommerce</li>
    </ul>
  </div>
  <div class="contact-me">
    <h2>Send me an <a href="mailto:mvangulpen@gmail.com"><i class="fas fa-envelope-square"></i></a> <br> ... or contact me via <a href="https://www.linkedin.com/in/mariken-van-gulpen-18942243/" target="_blank"><i class="fab fa-linkedin-in"></i></a></h2>
  </div>
</div>

