<div class="header">
  <div class="banner">
    <div class="banner-container">
      <h1>Hi I am <span id="name">Mariken</span> <br>I am a full-stack web developer</h1>
      <a href="#" class="btn-green">Find out more</a>
    </div>
    <div class="chevron-down">
      <a href=""><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>

    <h2>My skills</h2>
    <div class="container">

    <div class="skills">

  </div>
   <h2>My passion for coding</h2>
   <div class="container">


    </div>
  </div>
  <%=  link_to "About me", pages_about_path, class: "btn-green" %>
</div>
