<div class="banner">
  <div class="banner-name">
    <h1>Mariken van Gulpen</h1>
  </div>
  <div class="banner-title">
    <h1> Strategy & <br> Business Development Manager </h1>
    <%= link_to "Find out more about me", pages_about_path, class: "btn-burgundy"%>
  </div>
</div>
