<div class="banner">
  <div class="banner-name">
    <h1>Mariken van Gulpen</h1>
  </div>
  <div class="banner-title">
    <h1> Strategy & <br> Business Development Manager </h1>
    <%= link_to "Find out more about me", pages_about_path, class: "btn-burgundy"%>
  </div>
</div>
<div class="home-container">
  <div>
    <h1>Innovative product and service development</h1>
  </div>
  <div class="card-container">
    <div class="card-product">
      <div class="card-img-scooter"></div>
      <div class="card-content">
        <p>Adjusting products and services to local markets.</p>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-gray"%>
      </div>
    </div>
    <div class="card-product">
      <div class="card-img-travel"></div>
      <div class="card-content">
        <p>Developing innovative products & services solving customer pain points.</p>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-gray"%>
      </div>
    </div>
    <div class="card-product">
      <div class="card-img-mobile"></div>
      <div class="card-content">
        <p>Simplifying online processes & developing intuitive apps and websites.</p>
      </div>
      <div class="card-button">
        <%= link_to "View project", pages_projects_path, class: "btn-gray"%>
      </div>
    </div>
  </div>
</div>
<div class="home-container-2">
  <div>
    <h1>Web development projects</h1>
  </div>
  <div class="card-container">
    <div class="card-product">
      <div class="img-helpal">
        <a style="display: none" href="https://www.freepik.com/free-photos-vectors/people">People vector created by pikisuperstar - www.freepik.com</a>
      </div>
      <div class="card-content">
        <p>Helpal.</p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-hackathon"></div>
      <div class="card-content">
        <p>WirvsVirus Hackathon</p>
      </div>
    </div>
    <div class="card-product">
      <div class="img-car">
        <a style="display: none" href='https://www.freepik.com/photos/car'>Car photo created by azerbaijan_stockers - www.freepik.com</a>
      </div>
      <div class="card-content">
        <p>CarsBnB</p>
      </div>
    </div>
  </div>
</div>

