<div class="header">
  <div class="banner">
    <div class="banner-container">
      <h1>Hi I am <span id="name">Mariken</span><br>I am a full-stack web developer</h1>
      <div class="chevron-down">
        <a href="#" class="btn-green">Find out more</a>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="introduction">
      <h3>Who am I?</h3>
      <p>A few years ago some friends at work introduced me to the mysterious world of software development.
      Curious as I am I slowly started to read more about web development and practice more until I got the amazing chance to change my career path.
      And here I am, passionate about full-stack web development with a focus on creating amazing customer journeys and bringing websites alive!</p>
    </div>
  </div>
  <div class="container">
    <h3>My skills</h3>
      <ul>
        <li>Ruby on Rails</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
  </div>
  <%=  link_to "About me", pages_about_path %>
</div>
