<div class="project-container">
  <h1>Introducing new speed limit e-scooter</h1>
  <div class="project-description">
    <div class="img-scooter"></div>
    <div class="project-content">
      <div class="project-table">
        <table>
          <tbody>
            <tr>
              <td><strong>Industry</strong></td>
              <td>automotive, e-mobility</td>
            </tr>
            <tr>
              <td><strong>Challenge</strong></td>
              <td>adapt product to local market</td>
            </tr>
            <tr>
              <td><strong>Role</strong></td>
              <td>project lead, research, operations, branding</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="case-summary">
        <h2>Description</h2>
        <p>Going live in a new country with your product is exciting. Copying your entry strategy from one country to the other should always be carefully considered.
        For one of the new markets where we introduced the e-scooter it soon became clear that customers expected more options. Especially when it came down to choosing the speed limit of their vehicle. Analyzing market data, customer feedback and performing surveys and interviews we realized to have a bigger impact we needed to introduce the extra option: the 25km/h e-scooter was introduced.
        It had a positive impact on reaching new customers and partners and increased sales numbers within the first weeks after launching the new product. </p>
      </div>
    </div>
  </div>
</div>
<div class="project-container travel-insurance">
  <h1>Flexible and modular travel insurance</h1>
  <div class="project-description">
    <div class="project-content">
      <div class="project-table">
         <table>
          <tbody>
            <tr>
              <td><strong>Industry</strong></td>
              <td>insurance, digital</td>
            </tr>
            <tr>
              <td><strong>Challenge</strong></td>
              <td>create flexible insurance modules adaptable to personal needs</td>
            </tr>
            <tr>
              <td><strong>Role</strong></td>
              <td>facilitation, research, prototype</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="case-summary">
        <h2>Description</h2>
        <p>What do people expect to be covered by their insurance and maybe more importantly, what do they not want to pay extra for?
        That was one of the main questions we wanted to get answered. Customers do not want the traditional insurance anymore where the insurance company dictates what you get covered. They want to be in control.
        Through performing extensive market research with more than 1000 EU respondents we discovered that the most important module for travel insurance is the benefit of receiving medical <strong>assistance</strong>.
        A travel insurance was created where people could pay per day, cancel per day and sign up anytime to receive medical assistance. The customer is in control and decides.</p>
      </div>
    </div>
    <div class="img-travel"></div>
  </div>
</div>
</div>
<div class="project-container">
  <h1>Intuitive and simple online sign-up process</h1>
  <div class="project-description">
    <div class="img-mobile"></div>
    <div class="project-content">
      <div class="project-table">
        <table>
          <tbody>
            <tr>
              <td><strong>Industry</strong></td>
              <td>insurance, mobile banking</td>
            </tr>
            <tr>
              <td><strong>Challenge</strong></td>
              <td>simplify insurance online registration process</td>
            </tr>
            <tr>
              <td><strong>Role</strong></td>
              <td>project lead, research, prototype</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="case-summary">
        <h2>Description</h2>
        <p>The mobile banking sector has been growing extensively over the past years creating opportunities for people to bring together all their finances into one place. Together with renowned mobile banking companies we designed flexbible insurances the customer could sign up for (and cancel) in three simple steps. This was made possible by developing a secure API connection with our partners.
        The customer clicks on the insurance option, sees the terms and conditions and signs up. The customer is less likely to step out during the registration process because of the many details they would normally have to fill out and added benefit is that the customer has an overview of all his finances in one app.</p>
      </div>
    </div>
  </div>
</div>
<div class="contact-container-content">
  <div class="contact-title">
    <h1>Need help with designing and developing a new product or service?</h1>
    <h2>Send me a message and let’s discuss how I can help you.</h2>
  </div>
  <div class="contact-button">
    <%= link_to "Send me a message", pages_contact_path, class: "btn-green-message"%>
  </div>
</div>
