<div class="project-container">
  <h1>Helpal - get help from your local community</h1>
  <div class="project-description">
      <div class="img-helpal-mockup">
      <%= image_tag('helpal_mockup.png', alt: 'laptop') %>
    </div>
    <div class="project-content">
      <div class="project-table">
        <table>
          <tbody>
            <tr>
              <td><strong>Project</strong></td>
              <td>Platform for expats to ask for help regarding several topics</td>
            </tr>
            <tr>
              <td><strong>Skills</strong></td>
              <td>Ruby on Rails, JavaScript ES6, CSS, HTML, Figma </td>
            </tr>
            <tr>
              <td><strong>More info:</strong></td>
              <td>Check the design in <a href="https://www.figma.com/file/HV9AqCXSb8M6LMfoSW1OIy/Untitled?node-id=0%3A1" class="figma-link" target="_blank">Figma</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="case-summary">
        <h2>Description</h2>
        <p>It can be challenging moving to a new city or even a new country. Helpal offers expats and locals a platform where they can connect and help each other with questions regarding housing, legal, registration etc. Post a help request and connect with a pal and get your questions answered.</p>
      </div>
    </div>
  </div>
</div>
<div id="border"></div>
<div class="project-container">
  <h1>Home Alone Challenge - WirVsVirus Hackathon 2020</h1>
  <div class="project-description">
    <div class="project-content">
      <div class="project-table">
         <table>
          <tbody>
            <tr>
              <td><strong>Project</strong></td>
              <td>App for mental support and activities during COVID-19</td>
            </tr>
            <tr>
              <td><strong>Skills</strong></td>
              <td>Ruby on Rails, JavaScript ES6, Figma</td>
            </tr>
            <tr>
              <td><strong>More info:</strong></td>
              <td>Check the design in <a href="https://www.figma.com/file/Vtqgn4ShZdmwcB9HCCTMmH/Helpal?node-id=0%3A1" class="figma-link" target="_blank">Figma</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="case-summary">
        <h2>Description</h2>
        <p>The Home Alone Challenge app gives endless possibilities to be creative and active in isolation and to get in contact with many people at the same time. You can master new challenges every day.</p>
      </div>
    </div>
    <div class="img-home-mockup">
      <%= image_tag('home_mockup.png', alt: 'phone') %>
    </div>
  </div>
</div>

<div class="contact-container-content">
  <div class="contact-title">
    <h1>Need  help with your website or app?</h1>
    <h2>Send me a message and let’s discuss how I can help you.</h2>
  </div>
  <div class="contact-button">
    <%= link_to "Send me a message", pages_contact_path, class: "btn-green-message"%>
  </div>
</div>

