.btn-burgundy {
  background-color: #BC373E;
  height: 50px;
  width:250px;
  padding: 10px;
  font-family:'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 2px;
}

.btn-burgundy:hover {
  color: #d6d6d6;
}
