.btn-green {
  background-color: #A1CF6B;;
  color: #F4F4F4;;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

.btn-green:hover {
  background-color: rgba(161, 207, 107, 0.7)
}
