.navbar {
  width: 100vw;
  height: 50px;
  background-color: #FFFFFF;
}

.home-tab {
  margin-right: 50vw;
  font-weight: 700;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.navbar li {
  list-style-type: none;
  margin: 15px 20px;
}


.navbar a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  padding: 0, 5vw;
}

.navbar a:hover {
  color: gray;
  font-weight: 700;
}

.tabs {
  display: flex;
}
