.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}


.navbar-list li {
  display: inline;
  padding: 20px;
  margin-left: 150px;

}

.navbar-list a {
 text-decoration: none;
 color: black;
}

.navbar {
  background-color: rgba(229, 122, 114, 0.8);
  height: 40px;
  width: 100%;
}
